{% extends 'registration/header.html' %}

{% block content %}

{% if user.is_authenticated %}
	<h1>Update feed sample</h1>
<br/><br/>

{% if submitted %}
		Your sample was updated successfully.

	{% else %}

		<form action="" method=POST>
			{% csrf_token %}

			<ul> {{ form.as_p }} </ul>

			<input type="submit" value="Submit" class="btn btn-secondary">

		</form>
		{% endif %}

<br/><br/>	

{% else %}
<h1>Please log in to update a sample.</h1>

<a href="{% url 'login' %}">Login Here</a>

{% endif %}


{% endblock %}